// ==================================
// Fonts
// ==================================

$font-family-base: Hind, sans-serif !default; // Hind font family
$font-family-sl-icons: Simple-Line-Icons !default; // Simple Line Icons

// ==================================
// Colors
// ==================================

$color-base: rgb(23, 190, 210) !default;
$color-white: rgb(255, 255, 255) !default;
$color-heading: rgb(81, 87, 105) !default;
$color-subtitle: rgb(166, 167, 170) !default;
$color-link: rgb(129, 132, 143) !default;
$color-link-hover: rgb(153, 156, 170) !default;
$color-light-grey: rgb(250, 250, 250) !default;

$color-cloudblue: rgb(11, 175, 216) !default;
$color-green: rgb(10, 175, 98) !default;
$color-orange: rgb(221, 131, 13) !default;
$color-black: rgb(0, 0, 0) !default;

// ==================================
// Media Query breakpoints
// ==================================

// Extra small screen / phone
$screen-xs-min: 480px !default;

// Small screen / tablet
$screen-sm-min: 768px !default;

// Medium screen / desktop
$screen-md-min: 992px !default;

// Large screen / wide desktop
$screen-lg-min: 1200px !default;

// Large scree / wider desktop
$screen-lg-med: 1260px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
