// ==================================
// Text Colors
// ==================================

.color-base {
  color: $color-base !important;
}
.color-white {
  color: $color-white !important;
}
.color-heading {
  color: $color-heading !important;
}
.color-subtitle {
  color: $color-subtitle !important;
}
.color-link {
  color: $color-link !important;
}
.color-link-hover {
  color: $color-link-hover !important;
}
.color-light-grey {
  color: $color-light-grey !important;
}

// ==================================
// Background colors
// ==================================

.bg-color-base {
  background: $color-base !important;
}
.bg-color-white {
  background: $color-white !important;
}
.bg-color-heading {
  background: $color-heading !important;
}
.bg-color-subtitle {
  background: $color-subtitle !important;
}
.bg-color-link {
  background: $color-link !important;
}
.bg-color-link-hover {
  background: $color-link-hover !important;
}
.bg-color-light-grey {
  background: $color-light-grey !important;
}

.bg-color-black {
  background-color: $color-black !important;
}
.bg-color-cloudblue {
  background-color: $color-cloudblue !important;
}
.bg-color-green {
  background-color: $color-green !important;
}
.bg-color-orange {
  background-color: $color-orange !important;
}
